/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container {
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.content {
  height: 100%;
  background-color: rgb(235, 235, 235);
}

.page-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
}
